<?xml version="1.0" encoding="utf-8"?>

<box width="100%" height="100%" >
	<vbox id="main" width="96%" height="96%" verticalAlign="center" horizontalAlign="center">
		<label id="iplabel" horizontalAlign="center" text="Local ip address not determined yet" />
		<hbox width="100%">
			<textfield id="host" width="50%" text="localhost" />
			<button id="connect" width="50%" text="connect"/>
		</hbox>
		<hbox width="100%">
			<hprogress id="loudness" width="100%" value="50" />
		</hbox>
		<textarea id="text" width="100%" height="100%"/>
		<hbox width="100%">
			<button id="sound" width="100%" text="PTT" toggle="true" />
			<checkbox id="play_self"></checkbox>
		</hbox>
		<hbox width="100%">
			<textfield id="message" width="90%" />
			<button id="send" width="10%" text="Send"/>
		</hbox>
	</vbox>
</box>