<?xml version="1.0" encoding="utf-8"?>
<vbox id="main" width="100%" height="600" style="padding:15px;spacing:15px;">
	<hbox width="100%">
		<textfield id="host" width="50%" text="localhost" />
		<textfield id="port" width="50%" text="21308" />
	</hbox>
	<button id="server" width="100%" text="server"/>
	<button id="connect" width="100%" text="connect"/>
</vbox>